<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body  class='pane'>

<h1 class="header">{{restaurant.name}}</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li> <strong> <span class="flash">{{ message }}</span> </strong></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div><a href="{{url_for('newMenuItem', restaurant_id=restaurant.res_id,)}}">Create a new item</a></div>

{% for i in items %}

<div > 
<div>
<h3 class="name">{{i.name}}</h3>

{% if i.description %}
<p class="description">{{i.description}}</p>
{%endif%}
</div>
<div>
<p class="price"> {{i.price}} </p>



{% if user == 'admin' %}
<div class="editdeletepane">
<a href="{{url_for('editMenuItem', restaurant_id=restaurant.res_id, menu_id=i.men_id)}}">Edit</a>
<a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.res_id, menu_id=i.men_id)}}">Delete</a>
{% endif %}
</div>
</div>
{% endfor %}
</div>

</body>

</html>
